<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Map_Board.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B25AE0D61ECEA57000BB426B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B25AE0F01ECEA57000BB426B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B25AE0FB1ECEA57000BB426B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
